<div class="mt-4" style="padding-top: 75px;">
  <div class="row">

    <div class="mt-4 ">
      
      <ul style="padding: 16px;">
        <li>{{course.level}}</li>
      </ul>
    </div>

    <div class="col-lg-9" style="margin: 20px">
      <h1> {{course.name}}</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <p style="margin-top: 20px; font-size: 18px">{{course.description}}</p>
    </div>

  </div>
</div>