<nav class="navbar navbar-expand-lg navbar-dark" style="background: LightSteelBlue; position: fixed; top: 0px; right: 0px; left: 0px; z-index: 1; padding: 20px;">
  <div class="container">
    <ul class="navbar-nav">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Education
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">TRANG CHỦ</a>

          <a class="dropdown-item" href="/courses/create">ĐĂNG KHÓA HỌC</a>
          <a class="dropdown-item" href="/me/stored/courses">KHÓA HỌC CỦA TÔI</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/login">ĐĂNG XUẤT</a>
        </div>
      </div>
    </ul>
  </div>
</nav>