<ul class="list-unstyled mt-4">
  <li class="media">
    <img class="mr-3 news" src="http://img.youtube.com/vi/AnInvk8YTxM/sddefault.jpg"
      alt="Generic placeholder image" style="width: 200px;
    min-height: 100px;
    border-radius: 15px;
    display: block;
    line-height: 1.8;
    font-size: 1.4rem;
    color: #757575;
    background: #ebebeb;
    overflow: hidden;
    margin-top: 16px;">
    <div class="media-body" style="margin-top: 20px;">
      <h5 class="mt-0 mb-1">Thời gian và Động lực</h5>
      Có lẽ cũng rất lâu rồi mà tôi chưa đụng đến thứ được gọi là "timetable". Hay dân dã hơn thì người ta hay gọi là
      "Lịch thường nhật",...
      <div class="PostItem_info__3-oCa" style="font-size: 13px; margin: 16px 0px;"><span>7 giờ trước</span></div>
    </div>

  </li>
</ul>